/*
!app
app/*
!app/bin
!app/build
!app/config
!app/public/index.html
!app/public/main.mjs
!app/schema
!app/src
!app/types
!app/app.mjs
!app/docker-entrypoint.sh
!.gitignore
!CHANGELOG.md
!LICENSE
!metadata.json
!provideEnvironmentsTemplate.sh
!README.md
!docker-compose-template.yaml

